.apos_bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 27px; /*  Slider height            */
  line-height: 30px;
  z-index: 100;
  padding: 0 0 5px 0;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  background-color: #EB593C;
  box-shadow: 0px 0px 5px #888888;
  -moz-box-shadow:0px 0px 5px #888888;
  -webkit-box-shadow:0px 0px 5px #888888;
  border-bottom: 3px solid #fff;
  font-family: Georgia,Times New Roman,Times,serif;
  text-decoration: none;
}

.apos_bar-stub {
position: fixed;
top: -10px;
left: 0px;
width: 100%;
height: 19px;
z-index: 200;
padding: 7px 0 5px 0;
text-align: center;
}

.apos_bar span {
float: left;
width: 95%;
text-align: center;
padding-top: 2px;
}

.show-notify {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border: 3px solid #fff;
box-shadow: 0 0 5px rgba(0,0,0,0.35);
-moz-box-shadow: 0 0 5px rgba(0,0,0,0.35);
-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.35);
float: right;
margin-right: 10px;
color: #fff;
width: 35px;
height: 33px;
text-decoration: none;
background-color: #eee; /* << set custom bar color here */
cursor:pointer;
}

.show-notify:hover {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border: 3px solid #fff;
box-shadow: 0 0 5px rgba(0,0,0,0.35);
-moz-box-shadow: 0 0 5px rgba(0,0,0,0.35);
-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.35);
float: right;
margin-right: 10px;
color: #fff;
width: 35px;
height: 33px;
text-decoration: none;
background-color: #ffff00; /* << set custom bar color here */
cursor:pointer;
}

.apos_bar-up-arrow:hover {
background: url(apos_bar-up-arrow-hover.png);
}

.close-notify {
float: right;
margin-top:3px;
margin-right: 22px;
color: #fff;
width: 17px;
height: 19px;
text-decoration: none;
/*background-color: #ffff00;  << set custom bar color here */
cursor:pointer;
}

.apos_bar-link {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
/*background: #d72444;*/
background: #d72444 -webkit-linear-gradient(top, #4a4844 0%,#2d2c29 100%);
color: white;
padding: 1px 8px 3px 8px;
-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.28);
    text-decoration: none;
}

.apos_bar-link:hover {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
background: #1c1c1c;
color: white;
padding: 1px 8px 3px 8px;
text-decoration: none;
}